<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../images/quotilate_logo_white_bg.png">
        <link rel="stylesheet" href="../styles/common.css">
        <link rel="stylesheet" href="../styles/login.css">
        <title>Login page</title>
    </head>
    <body>
        <header>
            <div id="logo-container">
                <img src="../images/quotilate_logo.png" alt="Quotilate" id="logo">
            </div>
        </header>
        <main>
            <div class="form-container">
                <h1 class="sign-in-title">Sign in</h1>
                <form action="/login" method="post" id="login-form">
                    <div class="login-input" id="user">
                        <input type="text" placeholder="Email or Username" required>
                    </div>
                    <div class="login-input" id="pass">
                        <input type="password" placeholder="Password" required>
                        <div id="pass-show-hide"></div>
                    </div>
                    <button class="login-btn" type="submit">Login</button>
                </form>
                <p>Don't have an account? <a href="/register">Sign up</a></p>
            </div>
        </main>
        <footer>
            <div id="contact">
                <p><b>Quotilate</b> is brought to you by <b>Anthony Amansowomhan</b></p>
                <p>Contact via</p>
                <div>
                    <a href="https://discord.com/users/1153030508981256354" target="_blank"><img src="../images/bxl-discord.svg" alt="Discord" class="contact-icon"></a>
                    <a href="https://www.linkedin.com/in/anthony-amanso/" target="_blank"><img src="../images/bxl-linkedin.svg" alt="Linkedin" class="contact-icon"></a>
                    <a href="https://x.com/amanso_totti" target="_blank"><img src="../images/bxl-twitter.svg" alt="X" class="contact-icon"></a>
               </div>
            </div>
            <p>&copy; 2024 Quotilate | All rights reserved.</p>
        </footer>
        <script src="../scripts/login.js" defer></script>
    </body>
</html>
