<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../images/quotilate_logo_white_bg.png">
        <link rel="stylesheet" href="../styles/common.css">
        <link rel="stylesheet" href="../styles/flash_message.css?<%= cacheId %>">
        <link rel="stylesheet" href="../styles/register.css">
        <title>Register page</title>
    </head>
    <body>
        <header>
            <div id="logo-container">
                <img src="../images/quotilate_logo.png" alt="Quotilate" id="logo">
            </div>
        </header>
        <main>
            <div id="flash-message" class="hidden"></div>
            <div class="form-container">
                <h1 class="sign-in-title">Sign up</h1>
                <form action="/register" method="post" id="register-form">
                    <div class="register-input" id="email">
                        <input type="text" placeholder="Email" required>
                    </div>
                    <div class="register-input" id="user">
                        <input type="text" placeholder="Username" required>
                    </div>
                    <div class="register-input" id="pass">
                        <input type="password" placeholder="Password" required>
                        <div id="pass-show-hide"></div>
                    </div>
                    <div class="register-input" id="re-pass">
                        <input type="password" placeholder="Confirm password" required>
                        <div id="re-pass-show-hide"></div>
                    </div>
                    <button class="register-btn" type="submit">Register</button>
                </form>
            </div>
        </main>
        <footer>
            <div id="contact">
                <p><b>Quotilate</b> is brought to you by <b>Anthony Amansowomhan</b></p>
                <p>Contact via</p>
                <div>
                    <a href="https://discord.com/users/1153030508981256354" target="_blank"><img src="../images/bxl-discord.svg" alt="Discord" class="contact-icon"></a>
                    <a href="https://www.linkedin.com/in/anthony-amanso/" target="_blank"><img src="../images/bxl-linkedin.svg" alt="Linkedin" class="contact-icon"></a>
                    <a href="https://x.com/amanso_totti" target="_blank"><img src="../images/bxl-twitter.svg" alt="X" class="contact-icon"></a>
                </div>
            </div>
            <p>&copy; 2024 Quotilate | All rights reserved.</p>
        </footer>
        <script type="module" src="../scripts/register.js" defer></script>
    </body>
</html>
